<p>
  <%= @f.label :city %><br />
  <%= @f.text_field :city %>
</p>
<p>
  <%= @f.label :state %><br />
  <%= @f.text_field :state %>
</p>
<p>
  <%= @f.label :parish %><br />
  <%= @f.text_field :parish %>
</p>
